@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: "Rufina", serif !important;
  font-weight: 700;
	font-size: 48px;
}

h2 {
	font-family: "Rufina", serif !important;
  font-weight: 400;
	font-size: 36px;
}

.page-content-non-scrollable {
  height: calc(100vh - 6rem);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: hsl(0, 0%, 96%);
}

::-webkit-scrollbar
{
	width: 12px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a09c9c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

footer {
	background-color: var(--color-background);
	color: var(--color-backgroundHighlight);
	padding: 60px;
	text-align: center;
}

@layer base {
	/* Light theme (default) */
	:root {
		--color-primary: #e03915;
		--color-primaryHover: #e03a15d6;
		--color-primaryPressed:	#e03a15d6;
		--color-primaryDisabled: #e03a1580;

		--color-secondary: #eeeeee;
		--color-secondaryHover: #eeeeeec2;
		--color-secondaryPressed:	#eeeeeec2;
		--color-secondaryDisabled: #eeeeee8b;
		
		--color-tertiary: #000000;
		--color-tertiaryHover: #676666;
		--color-quaternary: #6db1e3;
		--color-quaternaryHover: #e3f3ff;
		--color-background: #ffffff;
		--color-backgroundHighlight: #dfdfdf;
		--color-backgroundInputField: #f5f5f5;
	}
	:root[data-theme="dark"] {
		--color-primary: #e03915;
		--color-primaryHover: #e03a15d6;
		--color-primaryPressed: #e03a15d6;
		--color-primaryDisabled: #e03a1580;

		--color-secondary: #6e6e6e;
		--color-secondaryHover: #b3b3b3;
		--color-secondaryPressed: #777777;
		--color-secondaryDisabled: #666666;
		
		--color-tertiary: #eeeeee;
		--color-tertiaryHover: #676666;
		--color-background: #1a202c;
		--color-backgroundHighlight: #31394a;
	}
	:root[data-theme="dark-purple"] {
    --color-primary: #9c27b0;
    --color-primaryHover: #aa00ff;
    --color-primaryPressed: #7b1fa2;
    --color-primaryDisabled: #9c27b080;

    --color-secondary: #333333;
    --color-secondaryHover: #555555;
    --color-secondaryPressed: #777777;
    --color-secondaryDisabled: #666666;

    --color-tertiary: #eeeeee;
		--color-tertiaryHover: #676666;
    --color-background: #1a202c;
		--color-backgroundHighlight:#48395f;
	}
}